{% load static %}
<footer class="container-fluid foot text-center text-white mt-5">
	<nav class="navbar footer-top justify-content-evenly">
	  
	  <a class="nav-link" href="#"><img class="logo2" src="{% static 'img/app.png' %}" alt="turkiye">
	  <a class="nav-link" href="#"><img class="logo2" src="{% static 'img/mss.jpg' %}" alt="turkiye">
	  <a class="nav-link" href="#"><img class="logo3" src="{% static 'img/smss.png' %}" alt="turkiye">
	  <a class="nav-link" href="#"><img class="logo3" src="{% static 'img/app.png' %}" alt="turkiye">
	  
	</nav>
	<hr>
	<div class="row py-5">
	  <div class="col-lg-3 col-6">
		<ul class="navbar-nav">
		  <li><h3 class="nav-link footer-header">Hakkımızda</h3></li>
		  <li><a href="#" class="nav-link footer-links">Sözleşme Metni</a></li>
		  <li><a href="#" class="nav-link footer-links">Vizyonumuz</a></li>
		  <li><a href="#" class="nav-link footer-links">Misyonumuz</a></li>
		</ul>
	  </div>
	  <div class="col-lg-3 col-6">
		<ul class="navbar-nav">
		  <li><h3 class="nav-link footer-header">Veri Saklama</h3></li>
		  <li><a href="#" class="nav-link footer-links">Gizlilik</a></li>
		  <li><a href="#" class="nav-link footer-links">Kanunlar</a></li>
		  <li><a href="#" class="nav-link footer-links">Kullanım Koşulları</a></li>
		  <li><a href="#" class="nav-link footer-links">Yasal Hükümler</a></li>
		</ul>
	  </div>
	  <div class="col-lg-3 col-6">
		<ul class="navbar-nav">
		  <li><h3 class="nav-link footer-header">Ücretlendirmeler</h3></li>
		  <li><a href="#" class="nav-link footer-links">İndirimli</a></li>
		  <li><a href="#" class="nav-link footer-links">Çekiliş</a></li>
		  <li><a href="#" class="nav-link footer-links">Kazananlar</a></li>
		  <li><a href="#" class="nav-link footer-links">Kazananlar</a></li>
		</ul>
	  </div>
	  <div class="col-lg-3 col-6">
		<ul class="navbar-nav">
		  <li><h3 class="nav-link footer-header">Yardım</h3></li>
		  <li><a href="#" class="nav-link footer-links">Canlı Destek <i class="fa-solid fa-envelope"></i></a></li>
		</ul>
		<input class="form-control mt-5" type="search" placeholder="@ E-Posta Bırakınız." aria-label="Search">
	  </div>
	</div>
	<div class="row bottom pb-3">
	  <div class="col">
		<small>Emre Altın</small>
	  </div>
	</div>
  </footer>