{% extends 'index.html' %}

{% block homepage %}  		
<div class="col-xl-9 col-lg-6 ">
    <div class="row">
        {% for i in urun %}
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 d-flex text-center">
          <div class="card">
              {% if i.fotograf %}
              <img class="card-img-top" src="{{i.fotograf.url}}" alt="Card image cap">
              {% else %}
              <img class="card-img-top" src="{% static 'img/app.png'%}" alt="Card image cap">
              {% endif %}
              <div class="card-body ">
              <b class="card-title text-white text-center">{{i.isim}}
              </b>
                  <p class="text-white-50">{{i.aciklama}}</p>
              <p class="card-text text-center"><small class="text-muted">Başlangıç fiyatı: {{i.fiyat}} TL</small></p>
              <a id="sepet" href="{% url 'urun' i.id %}"><button id="sepet3">sepete ekle</button></a>
              <p class="text-white" id="paragraf3"></p>
              </div>
          </div>
          </div>
          {% endfor %}
      </div>
  </div>
  {% endblock homepage %}
{% load static %}